<div class="flex justify-center">
  <div class="p-5 text-white bg-gray-900 w-[90%] max-w-6xl my-12 rounded-lg">

    <div class="flex justify-between items-center mb-4">
      <select [(ngModel)]="entriesPerPage" (change)="updatePage()" class="bg-gray-800 p-2 rounded">
        <option [value]="10">10</option>
        <option [value]="25">25</option>
        <option [value]="50">50</option>
      </select>

      <input [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search..."
        class="bg-gray-800 p-2 rounded outline-none" />
    </div>

    <table class="min-w-full bg-gray-800 rounded">
      <thead>
        <tr class="border-b border-gray-700 text-left">
          <th #nameHeader *ngFor="let col of columns" (click)="sortBy(col.key, $event)"
            (mousedown)="startResize($event, nameHeader)" class="p-3 cursor-pointer select-none relative">
            <div class="flex items-center gap-2">
              <span>{{ col.label }}</span>
              <span class="text-blue-400 text-sm">{{ getSortIcon(col.key) }}</span>
            </div>
            <span class="absolute right-0 top-0 h-full w-2 -mr-1 cursor-col-resize opacity-0 hover:opacity-100"
              (mousedown)="startResize($event,nameHeader)">
            </span>
          </th>
          <th class="p-3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of paginatedData" class="border-b hover:bg-gray-700">
          <td *ngFor="let col of columns" class="p-3">{{ row[col.key] ?? '—' }}</td>

          <td class="p-3 space-x-2">
            <button (click)="editEmployee(row)" class="px-3 py-1 bg-blue-600 rounded">Edit</button>
            <button (click)="deleteEmployee(row)" class="px-3 py-1 bg-red-600 rounded">Delete</button>
          </td>
        </tr>

        <tr *ngIf="paginatedData.length===0">
          <td [attr.colspan]="columns.length + 1" class="p-4 text-center text-gray-400">No records found</td>
        </tr>
      </tbody>
    </table>

    <div class="flex flex-col sm:flex-row justify-between items-center mt-4 gap-3">

      <div class="text-gray-400 text-sm">
        Showing {{ (currentPage - 1) * entriesPerPage + 1 }}
        to {{ Math.min(currentPage * entriesPerPage, filteredData.length) }}
        of {{ filteredData.length }} entries
      </div>
      <span>Page {{currentPage}} of {{totalPages}}</span>
      <div class="flex items-center gap-1">

        <!-- First Page -->
        <button (click)="changePage(1)" [disabled]="currentPage === 1"
          class="px-2 py-1 bg-gray-700 rounded disabled:opacity-40">« first</button>

        <!-- Prev -->
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
          class="px-2 py-1 bg-gray-700 rounded disabled:opacity-40">‹</button>

        <!-- Page Numbers -->
        <button *ngFor="let p of pageNumbers" (click)="changePage(p)" [class.bg-blue-600]="p === currentPage"
          class="px-3 py-1 rounded bg-gray-700 hover:bg-gray-600">
          {{ p }}
        </button>

        <!-- Next -->
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
          class="px-2 py-1 bg-gray-700 rounded disabled:opacity-40">›</button>

        <!-- Last Page -->
        <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages"
          class="px-2 py-1 bg-gray-700 rounded disabled:opacity-40">last »</button>

      </div>
    </div>
  </div>

  <div *ngIf="showEditModal" class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="absolute inset-0 bg-black transition-opacity" [class.opacity-60]="modalAnimation"
      [class.opacity-0]="!modalAnimation"></div>

    <div class="relative z-10 bg-gray-800 p-6 rounded-lg max-w-sm w-full transition-all duration-200"
      [class.scale-100]="modalAnimation" [class.scale-95]="!modalAnimation" [class.opacity-100]="modalAnimation"
      [class.opacity-0]="!modalAnimation">

      <h2 class="text-xl font-semibold mb-4">Edit</h2>

      <div class="space-y-3">
        <div *ngFor="let col of columns">
          <label class="text-sm text-gray-400">{{ col.key | titlecase }}</label>
          <input [(ngModel)]="tempEmployee![col.key]" class="w-full p-2 bg-gray-700 rounded mt-1" />
        </div>
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button (click)="closeModal()" class="px-4 py-2 bg-gray-600 rounded">Cancel</button>
        <button (click)="saveEmployee()" class="px-4 py-2 bg-blue-600 rounded">Save</button>
      </div>

    </div>
  </div>
</div>